body {
  background:#5b5bc2;
}
#Title {
  color:black;
  background:lightyellow;
}
img[src="./myImage.jpg"] {
  width:70px;
  height:70px;
  border:3px solid black;
  border-radius:50%;
}
header {
  height:60px;
  background:skyblue;
  border-radius:10px;
  text-align: center;
}
nav {
  padding:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:2rem auto;
}
nav ul {
  list-style-type:none;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:1rem;
}
nav ul li a {
  color:white;
  text-decoration: none;
}
p,em,ol {
  color:white;
}